<div class="container">
    <mat-drawer-container [hasBackdrop]="true">
        <mat-drawer [mode]="drawerMode" [opened]="false" [position]="'end'" #matDrawer>
            <mat-tab-group>
                <mat-tab label="Details">
                   <product-details></product-details>
                </mat-tab>
                <mat-tab label="Action">
                   xccx
                </mat-tab>
            </mat-tab-group>
        </mat-drawer>

            <mat-drawer-content>

                <div class="main">
                    <div class="header">
                        <div class="title">
                            <h1>Products</h1>
                        </div>
                        <div class="main-action">
                            <button class="add-contact" mat-flat-button [color]="'primary'" (click)="addProduct()">
                                <mat-icon>add</mat-icon>
                                Add
                            </button>
                        </div>
                    </div>
                </div>
            
                <div class="col-lg-16 grid-margin stretch-card">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="record-list">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>
                                                <mat-form-field appearance="outline">
                                                    <mat-icon matPrefix>search</mat-icon>
                                                    <input matInput [autocomplete]="'off'" [placeholder]="'Name'" (keydown.enter)="search()"
                                                      [(ngModel)]="query.name">
                                                  </mat-form-field>
                                            </th>

                                            <th>
                                                <mat-form-field appearance="outline">
                                                    <mat-icon matPrefix>search</mat-icon>
                                                    <input matInput [autocomplete]="'off'" [placeholder]="'Brand'" (keydown.enter)="search()"
                                                      [(ngModel)]="query.brand">
                                                  </mat-form-field>
                                            </th>

                                            <th>
                                                <button class="btn-clear" mat-flat-button [color]="'primary'" (click)="getProducts()" style="border-radius: 1px; margin-left: 20px; margin-bottom: 20px;background-color: maroon;">
                                                    <mat-icon>clear</mat-icon>
                                                    Clear
                                                </button>

                                            </th>

                                            <th>
                                                <button class="btn-search" mat-flat-button [color]="'primary'"  (click)="search()" style="border-radius: 1px; margin-left: 20px; margin-bottom: 20px;">
                                                    <mat-icon>search</mat-icon>
                                                    Search
                                                </button>

                                            </th>
                                           
                                        </tr>
                                    </thead>
                                </table>
                              <table class="table">
                                  <thead>
                                      <tr>
                                        <th>Name</th>
                                        <th>Brand</th>
                                        <th>Price</th>
                                        <th>Img</th>
                                        <th>Actions</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let product of records">
                                      <td (click)="openDrawer(product)">{{product['name']}}</td>
                                      <td (click)="openDrawer(product)">{{product['brand']}}</td>
                                      <td (click)="openDrawer(product)">{{product['price']}}</td>
                                      <td (click)="openDrawer(product)"><img src="{{product['img']}}" alt="" width="100" height="100"></td>
                                      <td>
                                        <button mat-icon-button (click)="delete(product['id'])"><mat-icon>delete</mat-icon></button>
                                      </td>
                                    </tr>
                                  </tbody>
                              </table>
                               
                               <mat-paginator (page)="onPageChange($event)" [length]="total" [pageSize]="query.limit"
                               [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
                            </div>
                        </div>
                    </div>
            
                </div>
                

            </mat-drawer-content>

        </mat-drawer-container>
</div>